/*
	Header Black
*/
.logo{
    vertical-align: middle;
    height: 40px;
    margin-top: -5px;
}
.navbar-default {
    margin-bottom: 0;
    height: 60px;
    background-color: white;
}.nav-content{
	padding-top: 5px;
}
.contact>i {
    font-weight: 700!important;
    margin-right: 3px;
    padding-top: 2px;
    color: #e24b32;
}
.contact{
	color: #e24b30;
}
.search-header{
	margin-top: -5px;
	color: #e24a32;
	font-size: 22px;
}
.employers{
	margin-top: -1px;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #666;
	height: 50px;
}
.employers:hover{
	color: white;
	background-color:#666;
}
.employers>a{
	padding-top: -15px;
	color: #666;
}
#text-emp:hover{
	color: white;
}
.employers>a>span:hover{
	color: white;
}
#text-emp{
	margin-top: -10px;
}
.icon-tech-events{
	width: 20px;
    height: 20px;
    position: absolute;
}
#text-tech-events{
	margin-left: 7px;
}
.dropdown-tech>li{
	padding: 5px;
}
#text-tech-events:hover{
	color: #e24b30;
}
#li:hover{
	background-color: #faeeff;
}
#nav-content:hover{
	color: #e24b30;
}
/*
	Header Red
*/
.nav-content-1{
	padding-top: 5px;
}
#nav-content-1:hover{
	color: #888;
}
#nav-content-1{
	color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #d64330;
}
.contact-1 {
    color: white;
}
.search-header-1{
	padding-top: 3px;
	margin-top: -5px;
	color: white;
	font-size: 22px;
}
.employer1s{
	margin-top: -1px;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid white;
	height: 50px;
}
.employer1s:hover{
	color: white;
	background-color:#324554;
}
.employer1s>a{
	padding-top: -15px;
	color: #d64330;
}
#text-emp:hover{
	color: white;
}
#text-emp{
	color: white;
}

/*Footer*/
.footerr{
	padding-top: 50px;
	padding-bottom: 10px;
}
.li-footer{
	list-style: none;
}
.li-footer>li{
	margin-left: -30px;
}
.li-footer>li>a{
	line-height:2;
	text-decoration: none;
	color: #555;
}
.li-footer>li>a:hover{
	line-height:2;
	text-decoration: none;
	color: #e24b30;
}
.copyright{
	    color: #999;
	text-align: center;
}
.img-copy{
	float:right;
	margin-top: 0px;
}
/* footer about us */
.about{
	background-color: white;
	padding: 20px 70px 20px 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.about>h2{
	color:#e34c31
}
.about>p{
	font-size: 16px;
}